$darkTheme: (
  background_:#000000,
  splitLine_:rgb(38, 38, 38),
  
  red100_:#e0282e, // primary
  red200_: #c1252a, // link
  red300_:#ff4d4f, // error
 
  green100_:#52c41a, // success

  orange100_:#faad14, // warning
);
@function getColor($name) {
  @return map-get($darkTheme, $name);
}
// theme.scss
:export {
  @each $color, $value in $darkTheme {
    #{$color}: #{$value};
  }
}
