$lightTheme: (
  black100_:#000000,
  white100_:#FFFFFF,
  background_:#FFFFFF,
  splitLine_:rgba(5, 5, 5, 0.06),

  red100_:#e0282e, // primary
  red200_: #c1252a, // link
  red300_:#ff4d4f, // error
 
  green100_:#52c41a, // success

  orange100_:#faad14, // warning

);
@function getColor($name) {
  @return map-get($lightTheme, $name);
}
// theme.scss
:export {
  @each $color, $value in $lightTheme {
    #{$color}: #{$value};
  }
}
