$lightTheme: (
  background_:#FFFFFF,
  splitLine_:rgba(5, 5, 5, 0.06),
);
@function getColor($name) {
  @return map-get($lightTheme, $name);
}
// theme.scss
:export {
  @each $color, $value in $lightTheme {
    #{$color}: #{$value};
  }
}
